INFO: [BURST-101] Memory burst inferred: variable 'C' (bert_100_768.c:3) in scope (bert_100_768.c:14)
  burst buffer size = 307200 bytes
INFO: [BURST-101] Memory burst inferred: variable 'A' (bert_100_768.c:3) in scope (bert_100_768.c:25)
  burst buffer size = 40000 bytes
INFO: [BURST-101] Memory burst inferred: variable 'B' (bert_100_768.c:3) in scope (bert_100_768.c:25)
  burst buffer size = 307200 bytes
