INFO: [WDBUS-101] Memory coalescing inferred: variable 'C' (bert_100_64.c:3)
  interface bitwidth = 512 bits
INFO: [WDBUS-101] Memory coalescing inferred: variable 'A' (bert_100_64.c:3)
  interface bitwidth = 128 bits
INFO: [WDBUS-101] Memory coalescing inferred: variable 'B' (bert_100_64.c:3)
  interface bitwidth = 512 bits
